@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<form enctype="multipart/form-data" id="form" >
    @Html.AntiForgeryToken()
    <input type="file" asp-for="@Model.Files" />
    <input type="submit" value="Upload" />
</form>
<div id="result">
    
</div>
</div>

@section Scripts {
    <script src="./js/upload.js"></script>
}
